.secondSection .box {
    width: 60rem;
}

@media only screen and (min-width: 768px) and (max-width: 1485px) {
    .secondSection .box {
        width: 59rem;
    }
}

@media only screen and (max-width: 767px) {
    .secondSection {
        height: 550px;
    }

    .secondSection .box {
        height: 450px;
        width: 1px;
        flex-direction: column;
    }

    .vertical div {
        width: 14rem;
    }
}

@media only screen and (max-width: 479px) {}